<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Order confirmation for order# <%= @order.id %></h1>
    <p>Thank you for shopping with us!</p>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Product Picture</th>
          <th>Name</th>
          <th>Description</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total</th>
        </tr>
      </thead>
      <%= render @line_items %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Total</td>
        <td><%= humanized_money_with_symbol @order.total %></td>
      </tr>
    </table>

  </body>
</html>