<div>
<iframe src="https://giphy.com/embed/w8BZvDE5oKSCpSKjt6" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  <h3>Your cart is empty</h3>
  <p>Looks like you haven't added any products to our cart yet.</p>
  <br>
  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</div>